Question 3: - Write a program, which would download the data from the provided link, and then read the data and convert that into properly structured data and return it in Excel format. Note - Write comments wherever necessary explaining the code written.

Link - https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json

Data Attributes - id: Identification Number - int num: Number of the

● Pokémon in the official Pokédex - int name: Pokémon name -

● string img: URL to an image of this Pokémon - string type:

● Pokémon type -string height: Pokémon height - float

● weight: Pokémon weight - float candy: type of candy used to evolve Pokémon or given

● when transferred - string candy_count: the amount of candies required to evolve- int

● egg: Number of kilometers to travel to hatch the egg - float spawn_chance:

● Percentage of spawn chance (NEW) - float avg_spawns: Number of this pokemon on 10.000 spawns (NEW) - int

● spawn_time: Spawns most active at the time on this field. Spawn times are the same for all time zones and are expressed in local time. (NEW) - “minutes: seconds” multipliers: Multiplier of Combat Power (CP) for calculating the CP after evolution See below - list of int weakness: Types of

● Pokémon this Pokémon is weak to - list of strings next_evolution: Number and Name of successive evolutions of Pokémon - list of dict prev_evolution: Number and Name of previous evolutions of Pokémon - - list of dict

In [3]:
pip install pandas

Collecting pandas
  Downloading pandas-2.0.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
     |████████████████████████████████| 12.3 MB 22.6 MB/s eta 0:00:01
Collecting numpy>=1.20.3; python_version < "3.10"
  Downloading numpy-1.24.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
     |████████████████████████████████| 17.3 MB 22.3 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /config/.local/lib/python3.8/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     |████████████████████████████████| 502 kB 45.7 MB/s eta 0:00:01
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     |████████████████████████████████| 341 kB 69.3 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /config/.local/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: numpy, pytz, tzdata, pandas
  WARNING: The scripts f2py, f2py3 and f2py3.8 are installed in '/config/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed numpy-1.24.3 pandas-2.0.1 pytz-2023.3 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install requests

Collecting requests
  Downloading requests-2.30.0-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.4 MB/s  eta 0:00:01
Collecting charset-normalizer<4,>=2
  Downloading charset_normalizer-3.1.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (195 kB)
     |████████████████████████████████| 195 kB 65.4 MB/s eta 0:00:01
Collecting urllib3<3,>=1.21.1
  Downloading urllib3-2.0.2-py3-none-any.whl (123 kB)
     |████████████████████████████████| 123 kB 68.2 MB/s eta 0:00:01
Collecting idna<4,>=2.5
  Downloading idna-3.4-py3-none-any.whl (61 kB)
     |████████████████████████████████| 61 kB 194 kB/s  eta 0:00:01
Collecting certifi>=2017.4.17
  Downloading certifi-2023.5.7-py3-none-any.whl (156 kB)
     |████████████████████████████████| 156 kB 72.1 MB/s eta 0:00:01
Installing collected packages: charset-normalizer, urllib3, idna, certifi, requests
  WARNING: The script normalizer is installed in '/config/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed certifi-2023.5.7 charset-normalizer-3.1.0 idna-3.4 requests-2.30.0 urllib3-2.0.2
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import requests

# Function to download data from the provided link
def download_data(url):
    response = requests.get(url)
    data = response.json()
    return data

# Function to convert data to properly structured format
def convert_data(data):
    structured_data = []
    for pokemon in data['pokemon']:
        attributes = {
            'id': pokemon['id'],
            'num': pokemon['num'],
            'name': pokemon['name'],
            'img': pokemon['img'],
            'type': ', '.join(pokemon['type']),
            'height': pokemon['height'],
            'weight': pokemon['weight'],
            'candy': pokemon.get('candy', ''),
            'candy_count': pokemon.get('candy_count', 0),
            'egg': pokemon.get('egg', ''),
            'spawn_chance': pokemon.get('spawn_chance', 0.0),
            'avg_spawns': pokemon.get('avg_spawns', 0),
            'spawn_time': pokemon.get('spawn_time', ''),
            'multipliers': ', '.join([str(multiplier) for multiplier in pokemon.get('multipliers', []) or []]),
            'weakness': ', '.join(pokemon.get('weaknesses', [])),
            'next_evolution': ', '.join([evolution['name'] for evolution in pokemon.get('next_evolution', [])]),
            'prev_evolution': ', '.join([evolution['name'] for evolution in pokemon.get('prev_evolution', [])])
        }
        structured_data.append(attributes)
    return structured_data


# Function to export data to Excel
def export_to_excel(data, filename):
    df = pd.DataFrame(data)
    df.to_excel(filename, index=False)

# Main program
if __name__ == '__main__':
    url = 'https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json'
    filename = 'pokemon_data.xlsx'

    # Download data
    pokemon_data = download_data(url)

    # Convert data to structured format
    structured_data = convert_data(pokemon_data)

    # Export data to Excel
    export_to_excel(structured_data, filename)
    print(f"Data has been exported to {filename} in Excel format.")

ModuleNotFoundError: No module named 'requests'

In [6]:
pip install numpy

Requirement already satisfied: numpy in /config/.local/lib/python3.8/site-packages (1.24.3)
Note: you may need to restart the kernel to use updated packages.

In [38]:
import pandas as pd
import requests
import numpy as np

# Assuming you have the URL of the JSON data
url = 'https://data.nasa.gov/resource/y77d-th95.json'

response = requests.get(url)
data1 = response.json()
# Read JSON data into a DataFrame
data = pd.DataFrame(data1)



# Display the new DataFrame
print(data)

          name     id nametype               recclass    mass  fall
0       Aachen      1    Valid                     L5      21  Fell  \
1       Aarhus      2    Valid                     H6     720  Fell
2         Abee      6    Valid                    EH4  107000  Fell
3     Acapulco     10    Valid            Acapulcoite    1914  Fell
4      Achiras    370    Valid                     L6     780  Fell
..         ...    ...      ...                    ...     ...   ...
995   Tirupati  24009    Valid                     H6     230  Fell
996    Tissint  54823    Valid  Martian (shergottite)    7000  Fell
997      Tjabe  24011    Valid                     H6   20000  Fell
998   Tjerebon  24012    Valid                     L5   16500  Fell
999  Tomakovka  24019    Valid                    LL6     600  Fell

                        year      reclat      reclong
0    1880-01-01T00:00:00.000   50.775000     6.083330  \
1    1951-01-01T00:00:00.000   56.183330    10.233330
2    1952-01-01T00:00:00.000   54.216670  -113.000000
3    1976-01-01T00:00:00.000   16.883330   -99.900000
4    1902-01-01T00:00:00.000  -33.166670   -64.950000
..                       ...         ...          ...
995  1934-01-01T00:00:00.000   13.633330    79.416670
996  2011-01-01T00:00:00.000   29.481950    -7.611230
997  1869-01-01T00:00:00.000   -7.083330   111.533330
998  1922-01-01T00:00:00.000   -6.666670   106.583330
999  1905-01-01T00:00:00.000   47.850000    34.766670

                                           geolocation
0    {'type': 'Point', 'coordinates': [6.08333, 50....  \
1    {'type': 'Point', 'coordinates': [10.23333, 56...
2    {'type': 'Point', 'coordinates': [-113, 54.216...
3    {'type': 'Point', 'coordinates': [-99.9, 16.88...
4    {'type': 'Point', 'coordinates': [-64.95, -33....
..                                                 ...
995  {'type': 'Point', 'coordinates': [79.41667, 13...
996  {'type': 'Point', 'coordinates': [-7.61123, 29...
997  {'type': 'Point', 'coordinates': [111.53333, -...
998  {'type': 'Point', 'coordinates': [106.58333, -...
999  {'type': 'Point', 'coordinates': [34.76667, 47...

    :@computed_region_cbhk_fwbd :@computed_region_nnqa_25f4
0                           NaN                         NaN
1                           NaN                         NaN
2                           NaN                         NaN
3                           NaN                         NaN
4                           NaN                         NaN
..                          ...                         ...
995                         NaN                         NaN
996                         NaN                         NaN
997                         NaN                         NaN
998                         NaN                         NaN
999                         NaN                         NaN

[1000 rows x 12 columns]

In [12]:
data.columns

Index(['name', 'id', 'nametype', 'recclass', 'mass', 'fall', 'year', 'reclat',
       'reclong', 'geolocation', ':@computed_region_cbhk_fwbd',
       ':@computed_region_nnqa_25f4'],
      dtype='object')

In [39]:
# Access the 'geolocation' column
geolocation_column = data['geolocation']
point_coordinates = []

# Check if the value is a dictionary and if the 'type' is 'Point'
for value in geolocation_column:
    if isinstance(value, dict) and value.get('type') == 'Point':
        point_coordinates.append(value['coordinates'])
    else:
        point_coordinates.append(np.nan)
data['point coordinates'] = point_coordinates
# Create a new DataFrame with the selected column
#data = pd.DataFrame({'point_coordinates': point_coordinates})

In [23]:
data.head(3)

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4,point coordinates
0,Aachen,1,Valid,L5,21,Fell,1880-01-01T00:00:00.000,50.775000,6.083330,"{'type': 'Point', 'coordinates': [6.08333, 50....",NaN,NaN,"[6.08333, 50.775]"
1,Aarhus,2,Valid,H6,720,Fell,1951-01-01T00:00:00.000,56.183330,10.233330,"{'type': 'Point', 'coordinates': [10.23333, 56...",NaN,NaN,"[10.23333, 56.18333]"
2,Abee,6,Valid,EH4,107000,Fell,1952-01-01T00:00:00.000,54.216670,-113.000000,"{'type': 'Point', 'coordinates': [-113, 54.216...",NaN,NaN,"[-113, 54.21667]"

In [40]:
 data=data.drop([':@computed_region_cbhk_fwbd',':@computed_region_nnqa_25f4','geolocation'],axis=1)

In [25]:
data.head(5)

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,point coordinates
0,Aachen,1,Valid,L5,21,Fell,1880-01-01T00:00:00.000,50.775000,6.083330,"[6.08333, 50.775]"
1,Aarhus,2,Valid,H6,720,Fell,1951-01-01T00:00:00.000,56.183330,10.233330,"[10.23333, 56.18333]"
2,Abee,6,Valid,EH4,107000,Fell,1952-01-01T00:00:00.000,54.216670,-113.000000,"[-113, 54.21667]"
3,Acapulco,10,Valid,Acapulcoite,1914,Fell,1976-01-01T00:00:00.000,16.883330,-99.900000,"[-99.9, 16.88333]"
4,Achiras,370,Valid,L6,780,Fell,1902-01-01T00:00:00.000,-33.166670,-64.950000,"[-64.95, -33.16667]"

In [41]:
new_column_names = {'name': 'Name of Earth Meteorite','id':'ID of Earth Meteorite','mass':'Mass of Earth Meteorite','year':'Year at which Earth Meteorite was hit'}
data = data.rename(columns=new_column_names)

In [27]:
data.columns

Index(['Name of Earth Meteorite', 'ID of Earth Meteorite', 'nametype',
       'recclass', 'Mass of Earth Meteorite', 'fall',
       'Year at which Earth Meteorite was hit', 'reclat', 'reclong',
       'point coordinates'],
      dtype='object')

In [28]:
data.head(10)

,Name of Earth Meteorite,ID of Earth Meteorite,nametype,recclass,Mass of Earth Meteorite,fall,Year at which Earth Meteorite was hit,reclat,reclong,point coordinates
0,Aachen,1,Valid,L5,21,Fell,1880-01-01T00:00:00.000,50.775000,6.083330,"[6.08333, 50.775]"
1,Aarhus,2,Valid,H6,720,Fell,1951-01-01T00:00:00.000,56.183330,10.233330,"[10.23333, 56.18333]"
2,Abee,6,Valid,EH4,107000,Fell,1952-01-01T00:00:00.000,54.216670,-113.000000,"[-113, 54.21667]"
3,Acapulco,10,Valid,Acapulcoite,1914,Fell,1976-01-01T00:00:00.000,16.883330,-99.900000,"[-99.9, 16.88333]"
4,Achiras,370,Valid,L6,780,Fell,1902-01-01T00:00:00.000,-33.166670,-64.950000,"[-64.95, -33.16667]"
5,Adhi Kot,379,Valid,EH4,4239,Fell,1919-01-01T00:00:00.000,32.100000,71.800000,"[71.8, 32.1]"
6,Adzhi-Bogdo (stone),390,Valid,LL3-6,910,Fell,1949-01-01T00:00:00.000,44.833330,95.166670,"[95.16667, 44.83333]"
7,Agen,392,Valid,H5,30000,Fell,1814-01-01T00:00:00.000,44.216670,0.616670,"[0.61667, 44.21667]"
8,Aguada,398,Valid,L6,1620,Fell,1930-01-01T00:00:00.000,-31.600000,-65.233330,"[-65.23333, -31.6]"
9,Aguila Blanca,417,Valid,L,1440,Fell,1920-01-01T00:00:00.000,-30.866670,-64.550000,"[-64.55, -30.86667]"

In [42]:
data = data.drop(['fall'],axis=1)

In [43]:
data.head(3)

,Name of Earth Meteorite,ID of Earth Meteorite,nametype,recclass,Mass of Earth Meteorite,Year at which Earth Meteorite was hit,reclat,reclong,point coordinates
0,Aachen,1,Valid,L5,21,1880-01-01T00:00:00.000,50.775000,6.083330,"[6.08333, 50.775]"
1,Aarhus,2,Valid,H6,720,1951-01-01T00:00:00.000,56.183330,10.233330,"[10.23333, 56.18333]"
2,Abee,6,Valid,EH4,107000,1952-01-01T00:00:00.000,54.216670,-113.000000,"[-113, 54.21667]"

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Name of Earth Meteorite                1000 non-null   object
 1   ID of Earth Meteorite                  1000 non-null   object
 2   nametype                               1000 non-null   object
 3   recclass                               1000 non-null   object
 4   Mass of Earth Meteorite                972 non-null    object
 5   Year at which Earth Meteorite was hit  999 non-null    object
 6   reclat                                 988 non-null    object
 7   reclong                                988 non-null    object
 8   point coordinates                      988 non-null    object
dtypes: object(9)
memory usage: 70.4+ KB

In [55]:
data['Name of Earth Meteorite'].dtype=='str'

False

In [45]:
data['Name of Earth Meteorite'] = data['Name of Earth Meteorite'].astype(str)

In [53]:
data['Name of Earth Meteorite'].value_counts()

Name of Earth Meteorite
Aachen             1
Nakhon Pathom      1
Mtola              1
Muddoor            1
Mulletiwu          1
                  ..
Grimsby            1
Grosnaja           1
Gross-Divina       1
Grossliebenthal    1
Tomakovka          1
Name: count, Length: 1000, dtype: int64

In [56]:
data['nametype'] = data['nametype'].astype(str)

In [57]:
data['nametype'].dtypes

dtype('O')

In [47]:
data['Mass of Earth Meteorite']=data['Mass of Earth Meteorite'].astype(float)

In [58]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Name of Earth Meteorite                1000 non-null   object
 1   ID of Earth Meteorite                  1000 non-null   object
 2   nametype                               1000 non-null   object
 3   recclass                               1000 non-null   object
 4   Mass of Earth Meteorite                972 non-null    float64
 5   Year at which Earth Meteorite was hit  999 non-null    object
 6   reclat                                 988 non-null    object
 7   reclong                                988 non-null    object
 8   point coordinates                      988 non-null    object
dtypes: float64(1), object(8)
memory usage: 70.4+ KB

In [74]:
data.isnull().sum()

name                  0
id                    0
nametype              0
recclass              0
mass                 28
fall                  0
year                  1
reclat               12
reclong              12
point_coordinates    12
dtype: int64

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Name of Earth Meteorite  1000 non-null   object
 1   id                       1000 non-null   object
 2   Meteorite                0 non-null      object
 3   nametype                 1000 non-null   object
 4   recclass                 1000 non-null   object
 5   mass                     0 non-null      object
 6   year                     999 non-null    object
 7   reclat                   988 non-null    object
 8   reclong                  988 non-null    object
 9   point_coordinates        0 non-null      object
dtypes: object(10)
memory usage: 78.2+ KB

In [58]:
df.isnull().sum()

Name of Earth Meteorite       0
id                            0
Meteorite                  1000
nametype                      0
recclass                      0
mass                       1000
year                          1
reclat                       12
reclong                      12
point_coordinates          1000
dtype: int64