In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-2.0.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
     |████████████████████████████████| 12.3 MB 22.6 MB/s eta 0:00:01
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     |████████████████████████████████| 341 kB 72.0 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /config/.local/lib/python3.8/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     |████████████████████████████████| 502 kB 66.0 MB/s eta 0:00:01
Collecting numpy>=1.20.3; python_version < "3.10"
  Downloading numpy-1.24.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
     |████████████████████████████████| 17.3 MB 67.6 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /config/.local/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pytz, numpy, pandas
  WARNING: The scripts f2py, f2py3 and f2py3.8 are installed in '/config/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed numpy-1.24.3 pandas-2.0.1 pytz-2023.3 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install requests

Requirement already satisfied: requests in /config/.local/lib/python3.8/site-packages (2.30.0)
Requirement already satisfied: idna<4,>=2.5 in /config/.local/lib/python3.8/site-packages (from requests) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /config/.local/lib/python3.8/site-packages (from requests) (2023.5.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /config/.local/lib/python3.8/site-packages (from requests) (3.1.0)
Requirement already satisfied: urllib3<3,>=1.21.1 in /config/.local/lib/python3.8/site-packages (from requests) (2.0.2)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install numpy

Requirement already satisfied: numpy in /config/.local/lib/python3.8/site-packages (1.24.3)
Note: you may need to restart the kernel to use updated packages.

Question 4 -
Write a program to download the data from the link given below and then read the data and convert the into
the proper structure and return it as a CSV file.
Link - https://data.nasa.gov/resource/y77d-th95.json
Note - Write code comments wherever needed for code understanding.
Sample Data -

Excepted Output Data Attributes
● Name of Earth Meteorite - string id - ID of Earth
● Meteorite - int nametype - string recclass - string
● mass - Mass of Earth Meteorite - float year - Year at which Earth
● Meteorite was hit - datetime format reclat - float recclong - float
● point coordinates - list of int

download json

In [38]:
import pandas as pd
import requests
import numpy as np

# Assuming you have the URL of the JSON data
url = 'https://data.nasa.gov/resource/y77d-th95.json'

response = requests.get(url)
data1 = response.json()
# Read JSON data into a DataFrame
data = pd.DataFrame(data1)



# Display the new DataFrame
print(data)

          name     id nametype               recclass    mass  fall
0       Aachen      1    Valid                     L5      21  Fell  \
1       Aarhus      2    Valid                     H6     720  Fell
2         Abee      6    Valid                    EH4  107000  Fell
3     Acapulco     10    Valid            Acapulcoite    1914  Fell
4      Achiras    370    Valid                     L6     780  Fell
..         ...    ...      ...                    ...     ...   ...
995   Tirupati  24009    Valid                     H6     230  Fell
996    Tissint  54823    Valid  Martian (shergottite)    7000  Fell
997      Tjabe  24011    Valid                     H6   20000  Fell
998   Tjerebon  24012    Valid                     L5   16500  Fell
999  Tomakovka  24019    Valid                    LL6     600  Fell

                        year      reclat      reclong
0    1880-01-01T00:00:00.000   50.775000     6.083330  \
1    1951-01-01T00:00:00.000   56.183330    10.233330
2    1952-01-01T00:00:00.000   54.216670  -113.000000
3    1976-01-01T00:00:00.000   16.883330   -99.900000
4    1902-01-01T00:00:00.000  -33.166670   -64.950000
..                       ...         ...          ...
995  1934-01-01T00:00:00.000   13.633330    79.416670
996  2011-01-01T00:00:00.000   29.481950    -7.611230
997  1869-01-01T00:00:00.000   -7.083330   111.533330
998  1922-01-01T00:00:00.000   -6.666670   106.583330
999  1905-01-01T00:00:00.000   47.850000    34.766670

                                           geolocation
0    {'type': 'Point', 'coordinates': [6.08333, 50....  \
1    {'type': 'Point', 'coordinates': [10.23333, 56...
2    {'type': 'Point', 'coordinates': [-113, 54.216...
3    {'type': 'Point', 'coordinates': [-99.9, 16.88...
4    {'type': 'Point', 'coordinates': [-64.95, -33....
..                                                 ...
995  {'type': 'Point', 'coordinates': [79.41667, 13...
996  {'type': 'Point', 'coordinates': [-7.61123, 29...
997  {'type': 'Point', 'coordinates': [111.53333, -...
998  {'type': 'Point', 'coordinates': [106.58333, -...
999  {'type': 'Point', 'coordinates': [34.76667, 47...

    :@computed_region_cbhk_fwbd :@computed_region_nnqa_25f4
0                           NaN                         NaN
1                           NaN                         NaN
2                           NaN                         NaN
3                           NaN                         NaN
4                           NaN                         NaN
..                          ...                         ...
995                         NaN                         NaN
996                         NaN                         NaN
997                         NaN                         NaN
998                         NaN                         NaN
999                         NaN                         NaN

[1000 rows x 12 columns]

In [12]:
data.columns

Index(['name', 'id', 'nametype', 'recclass', 'mass', 'fall', 'year', 'reclat',
       'reclong', 'geolocation', ':@computed_region_cbhk_fwbd',
       ':@computed_region_nnqa_25f4'],
      dtype='object')

In [39]:
# Access the 'geolocation' column
geolocation_column = data['geolocation']
point_coordinates = []

# Check if the value is a dictionary and if the 'type' is 'Point'
for value in geolocation_column:
    if isinstance(value, dict) and value.get('type') == 'Point':
        point_coordinates.append(value['coordinates'])
    else:
        point_coordinates.append(np.nan)
data['point coordinates'] = point_coordinates
# Create a new DataFrame with the selected column
#data = pd.DataFrame({'point_coordinates': point_coordinates})

In [23]:
data.head(3)

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4,point coordinates
0,Aachen,1,Valid,L5,21,Fell,1880-01-01T00:00:00.000,50.775000,6.083330,"{'type': 'Point', 'coordinates': [6.08333, 50....",NaN,NaN,"[6.08333, 50.775]"
1,Aarhus,2,Valid,H6,720,Fell,1951-01-01T00:00:00.000,56.183330,10.233330,"{'type': 'Point', 'coordinates': [10.23333, 56...",NaN,NaN,"[10.23333, 56.18333]"
2,Abee,6,Valid,EH4,107000,Fell,1952-01-01T00:00:00.000,54.216670,-113.000000,"{'type': 'Point', 'coordinates': [-113, 54.216...",NaN,NaN,"[-113, 54.21667]"

In [40]:
 data=data.drop([':@computed_region_cbhk_fwbd',':@computed_region_nnqa_25f4','geolocation'],axis=1)

In [25]:
data.head(5)

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,point coordinates
0,Aachen,1,Valid,L5,21,Fell,1880-01-01T00:00:00.000,50.775000,6.083330,"[6.08333, 50.775]"
1,Aarhus,2,Valid,H6,720,Fell,1951-01-01T00:00:00.000,56.183330,10.233330,"[10.23333, 56.18333]"
2,Abee,6,Valid,EH4,107000,Fell,1952-01-01T00:00:00.000,54.216670,-113.000000,"[-113, 54.21667]"
3,Acapulco,10,Valid,Acapulcoite,1914,Fell,1976-01-01T00:00:00.000,16.883330,-99.900000,"[-99.9, 16.88333]"
4,Achiras,370,Valid,L6,780,Fell,1902-01-01T00:00:00.000,-33.166670,-64.950000,"[-64.95, -33.16667]"

In [41]:
# column rename
new_column_names = {'name': 'Name of Earth Meteorite','id':'ID of Earth Meteorite','mass':'Mass of Earth Meteorite','year':'Year at which Earth Meteorite was hit'}
data = data.rename(columns=new_column_names)

In [27]:
data.columns

Index(['Name of Earth Meteorite', 'ID of Earth Meteorite', 'nametype',
       'recclass', 'Mass of Earth Meteorite', 'fall',
       'Year at which Earth Meteorite was hit', 'reclat', 'reclong',
       'point coordinates'],
      dtype='object')

In [28]:
data.head(10)

,Name of Earth Meteorite,ID of Earth Meteorite,nametype,recclass,Mass of Earth Meteorite,fall,Year at which Earth Meteorite was hit,reclat,reclong,point coordinates
0,Aachen,1,Valid,L5,21,Fell,1880-01-01T00:00:00.000,50.775000,6.083330,"[6.08333, 50.775]"
1,Aarhus,2,Valid,H6,720,Fell,1951-01-01T00:00:00.000,56.183330,10.233330,"[10.23333, 56.18333]"
2,Abee,6,Valid,EH4,107000,Fell,1952-01-01T00:00:00.000,54.216670,-113.000000,"[-113, 54.21667]"
3,Acapulco,10,Valid,Acapulcoite,1914,Fell,1976-01-01T00:00:00.000,16.883330,-99.900000,"[-99.9, 16.88333]"
4,Achiras,370,Valid,L6,780,Fell,1902-01-01T00:00:00.000,-33.166670,-64.950000,"[-64.95, -33.16667]"
5,Adhi Kot,379,Valid,EH4,4239,Fell,1919-01-01T00:00:00.000,32.100000,71.800000,"[71.8, 32.1]"
6,Adzhi-Bogdo (stone),390,Valid,LL3-6,910,Fell,1949-01-01T00:00:00.000,44.833330,95.166670,"[95.16667, 44.83333]"
7,Agen,392,Valid,H5,30000,Fell,1814-01-01T00:00:00.000,44.216670,0.616670,"[0.61667, 44.21667]"
8,Aguada,398,Valid,L6,1620,Fell,1930-01-01T00:00:00.000,-31.600000,-65.233330,"[-65.23333, -31.6]"
9,Aguila Blanca,417,Valid,L,1440,Fell,1920-01-01T00:00:00.000,-30.866670,-64.550000,"[-64.55, -30.86667]"

In [42]:
data = data.drop(['fall'],axis=1)

In [43]:
data.head(3)

,Name of Earth Meteorite,ID of Earth Meteorite,nametype,recclass,Mass of Earth Meteorite,Year at which Earth Meteorite was hit,reclat,reclong,point coordinates
0,Aachen,1,Valid,L5,21,1880-01-01T00:00:00.000,50.775000,6.083330,"[6.08333, 50.775]"
1,Aarhus,2,Valid,H6,720,1951-01-01T00:00:00.000,56.183330,10.233330,"[10.23333, 56.18333]"
2,Abee,6,Valid,EH4,107000,1952-01-01T00:00:00.000,54.216670,-113.000000,"[-113, 54.21667]"

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Name of Earth Meteorite                1000 non-null   object
 1   ID of Earth Meteorite                  1000 non-null   object
 2   nametype                               1000 non-null   object
 3   recclass                               1000 non-null   object
 4   Mass of Earth Meteorite                972 non-null    object
 5   Year at which Earth Meteorite was hit  999 non-null    object
 6   reclat                                 988 non-null    object
 7   reclong                                988 non-null    object
 8   point coordinates                      988 non-null    object
dtypes: object(9)
memory usage: 70.4+ KB

datatype change

In [60]:
data['Name of Earth Meteorite'] = data['Name of Earth Meteorite'].astype('string')

In [53]:
data['Name of Earth Meteorite'].value_counts()

Name of Earth Meteorite
Aachen             1
Nakhon Pathom      1
Mtola              1
Muddoor            1
Mulletiwu          1
                  ..
Grimsby            1
Grosnaja           1
Gross-Divina       1
Grossliebenthal    1
Tomakovka          1
Name: count, Length: 1000, dtype: int64

In [62]:
data['nametype'] = data['nametype'].astype('string')

In [63]:
data['nametype'].dtypes

string[python]

In [47]:
data['Mass of Earth Meteorite']=data['Mass of Earth Meteorite'].astype(float)

In [64]:
data['recclass']=data['recclass'].astype('string')

In [66]:
data['ID of Earth Meteorite']=data['ID of Earth Meteorite'].astype(int)

In [67]:
data['Mass of Earth Meteorite']=data['Mass of Earth Meteorite'].astype(float)

In [68]:
data['reclat']=data['reclat'].astype(float)

In [70]:
!pip install requests

Requirement already satisfied: requests in /config/.local/lib/python3.8/site-packages (2.30.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /config/.local/lib/python3.8/site-packages (from requests) (3.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /config/.local/lib/python3.8/site-packages (from requests) (2023.5.7)
Requirement already satisfied: idna<4,>=2.5 in /config/.local/lib/python3.8/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /config/.local/lib/python3.8/site-packages (from requests) (2.0.2)

In [72]:
data['Year at which Earth Meteorite was hit'] = pd.to_datetime(data['Year at which Earth Meteorite was hit'], format='%Y-%m-%d', errors='coerce')

In [74]:
data['reclong']=data['reclong'].astype(float)

In [99]:
import math

for i in data['point coordinates']:
    if isinstance(i, float) and not math.isnan(i):
        i = int(i)
        print(i)

In [ ]:
for point in data['point coordinates']:
    print(point)
    if type(point)==list:
        for i in range(len(point)):
            point[i] = int(point[i])

[6, 50]
[10, 56]
[-113, 54]
[-99, 16]
[-64, -33]
[71, 32]
[95, 44]
[0, 44]
[-65, -31]
[-64, -30]
[-9, 16]
[8, 19]
[2, 50]
[35, 29]
[77, 29]
[8, 8]
[42, 39]
[39, 24]
[28, 13]
[4, 44]
[11, 44]
[22, 2]
[6, 45]
[-1, 51]
[37, 36]
[8, 44]
[31, 50]
[10, 45]
[-85, 42]
[-105, 26]
[32, 20]
[44, 35]
[78, 27]
[85, 26]
[-70, 44]
[37, 48]
[76, 20]
[0, 0]
[0, 47]
[-44, -22]
[39, 9]
[105, 25]
[140, 40]
[-2, 53]
[5, 43]
[-66, -33]
[-94, 38]
[-60, -31]
[9, 42]
[-97, 31]
[0, 52]
[12, 43]
[80, 25]
[-103, 20]
[-87, 34]
[-96, 34]
[5, 44]
[3, 36]
[3, 44]
[0, 43]
[-49, -21]
[13, 46]
[-103, 25]
[32, 2]
[-108, 36]
[38, 48]
[78, 28]
[-82, 35]
[-88, 34]
[16, 5]
[101, 16]
[107, -6]
[76, 27]
[78, 30]
[106, -6]
[0, 43]
[2, 41]
[-2, 42]
[84, 52]
[9, 52]
[76, 31]
[-1, 52]
[-5, 15]
[20, 52]
[-98, 45]
[-83, 38]
[-117, 40]
[0, 11]
[-93, 36]
[-101, 39]
[-117, 51]
[-4, 53]
[-96, 33]
[-64, -32]
[82, 25]
[-8, 32]
[10, 32]
[-89, 39]
[28, -26]
[-7, 30]
[-67, 45]
[-58, -31]
[-3, 11]
[-3, 41]
[-105, 40]
[-73, 42]
[0, 43]
[35, 33]
[74, 20]
[73, 26]
[71, 20]
[90, 22]
[86, 22]
[23, 53]
[27, 50]
[0, 12]
[115, -33]
[5, 13]
[-80, 34]
[82, 25]
[30, 49]
[25, 60]
[-78, 40]
[-97, 36]
[-98, 31]
[16, 49]
[-89, 40]
[115, 33]
[-102, 23]
[0, 12]
[131, 44]
[10, 44]
[78, 21]
[52, 54]
[24, 48]
[35, 55]
[33, 51]
[-11, 17]
[-11, 17]
[-6, 54]
[-80, 40]
[16, 50]
[8, 50]
[9, 53]
[59, 52]
[-112, 53]
[64, 39]
nan
[129, -31]
[9, 10]
[48, 5]
[-82, 37]
[29, 40]
[25, 46]
[82, 26]
[84, 27]
[-109, 52]
[-1, 37]
[-93, 35]
[20, 43]
[-76, 3]
[122, 11]
[-40, -7]
[26, 39]
[1, 41]
[-5, 43]
[-105, 38]
[-89, 37]
[-64, -30]
[-69, -16]
[27, 38]
[-78, 36]
[11, 43]
[-68, 44]
[16, 39]
[-79, 36]
[-105, 26]
[-96, 43]
[8, 45]
[109, 28]
[81, 25]
[83, 25]
[-58, -30]
[76, 20]
[79, 27]
[111, 29]
[1, 46]
[-87, 36]
[1, 47]
[75, 29]
[5, 47]
[2, 47]
[-7, 41]
[32, -3]
[61, 54]
[-5, 23]
[30, 53]
[-81, 35]
[6, 46]
[34, 50]
[76, 14]
[101, 17]
[-79, 40]
[33, -10]
[13, -17]
[0, 47]
[108, -6]
[-81, 32]
nan
[-90, 44]
[19, -33]
[-84, 43]
[12, 42]
[-47, -19]
[-100, 21]
[76, 10]
[-97, 35]
[27, -27]
[-78, 35]
[-6, 54]
[-84, 36]
[-84, 38]
[8, 35]
[83, 26]
[24, -28]
[-87, 34]
[8, 49]
[59, 41]
[-79, -1]
[-80, 43]
[-74, 40]
[77, 28]
[84, 51]
[-104, 39]
[93, 26]
[73, 25]
[81, 19]
[76, 24]
[71, 22]
[75, 14]
[76, 32]
[27, 37]
[18, -33]
[-60, -31]
[111, -7]
[15, 12]
[9, 36]
[90, 23]
[25, 50]
[29, 40]
[119, 45]
[82, 21]
[120, 32]
[112, 51]
[3, 13]
[-6, 32]
[33, -13]
[-86, 36]
[-82, 42]
[18, 42]
[152, -31]
[-8, 52]
[128, 43]
[76, 30]
[39, -4]
[127, 33]
[31, -27]
[82, 26]
[151, -3]
[-96, 40]
[15, -17]
[11, 48]
[13, 56]
[78, 28]
[3, 34]
[-97, 25]
[-103, 19]
[-104, 39]
[12, 50]
[37, 47]
[4, 51]
[151, -29]
[109, 30]
[7, 47]
[6, 48]
[81, 19]
[44, 40]
[44, 1]
[11, 52]
[-1, 46]
[30, 2]
[-94, 43]
[-97, 39]
[-77, 35]
[2, 44]
[-94, 36]
[8, 36]
[-87, 32]
[116, 34]
[-81, 36]
[13, 43]
[-96, 47]
[-97, 30]
[-93, 43]
[146, -33]
[-78, 36]
[7, 50]
[-83, 33]
[7, 28]
[-87, 34]
[113, 31]
[130, 33]
[10, 55]
[80, 25]
[115, 32]
[0, 44]
[12, 7]
[12, 7]
[30, 51]
[68, 27]
[-2, 11]
[68, 27]
[-112, 41]
[11, 12]
[-2, 14]
[11, 12]
[136, 35]
[13, 37]
[9, 9]
[6, 52]
[107, -7]
[37, 57]
[0, 52]
[16, 50]
[89, 24]
[38, 48]
[2, 42]
[11, 60]
[-79, 43]
[45, 43]
[18, 49]
[30, 46]
[15, 51]
[16, 52]
[-58, -33]
[122, 39]
[105, 24]
[118, 37]
[-6, 38]
[20, 43]
[0, 13]
[13, 9]
[76, 22]
[11, 11]
[24, 42]
[78, 13]
[42, 9]
[8, 51]
[127, 35]
[139, 35]
[3, 50]
[16, 57]
[-86, 41]
[82, 26]
[75, 28]
[-94, 32]
[-86, 38]
[136, 35]
[0, 28]
[-1, 51]
[22, 60]
[13, 55]
[35, 27]
[-84, 10]
[17, 59]
[130, 33]
[-4, 55]
[132, 34]
[31, 1]
[21, 64]
[-110, 34]
[38, 9]
[-91, 41]
[-157, 21]
[115, 35]
[-100, 39]
[16, 46]
[106, 26]
[8, 50]
[22, 61]
[7, 52]
[-45, -20]
[35, 38]
[82, 58]
[28, -32]
[-51, -23]
[145, -6]
[46, 39]
[-94, 39]
[112, 41]
[-111, 53]
[-54, -25]
[33, -8]
[-57, -31]
[-44, -3]
[-12, 26]
[32, -8]
[21, -32]
[68, 26]
nan
[75, 31]
[75, 18]
[105, 39]
[20, 43]
nan
[14, 46]
[72, 31]
[104, 31]
[109, 30]
[126, 44]
[70, 22]
[24, 55]
[-104, 40]
[15, -11]
[0, 45]
[115, 35]
[76, 12]
[111, -7]
[118, 35]
[-7, 38]
[4, 44]
[21, 47]
[8, 11]
[78, 27]
[79, 27]
[30, 49]
[48, 15]
[53, 55]
[78, 12]
[21, 45]
[29, -6]
[73, 17]
[81, 26]
[139, 36]
[75, 14]
[65, 31]
[115, -7]
[76, 32]
[33, 4]
[73, 20]
[73, 42]
[81, 47]
[35, -3]
[7, 12]
[67, 27]
[71, 31]
[139, -35]
[136, 35]
[77, 29]
[10, 11]
[75, 25]
[31, 39]
[112, -7]
[29, 36]
[-96, 29]
[86, 20]
[-3, 48]
[-3, 48]
[141, 38]
[72, 29]
[83, 25]
[35, 50]
[77, 26]
[75, 28]
[75, 56]
[81, 25]
[36, 16]
[28, 14]
[10, 54]
[-11, 16]
[138, 36]
[34, 55]
[9, 12]
[-89, 43]
[-7, 54]
[24, 11]
[-95, 30]
[22, 48]
[-80, 43]
[10, 51]
[22, 48]
[135, 34]
[133, 34]
[139, 35]
[26, 42]
[21, 48]
[7, 49]
[40, 54]
[56, 54]
[77, 56]
[30, 47]
[31, 51]
[66, 30]
[33, 50]
[45, 41]
[61, 55]
[59, 42]
[138, 37]
[78, 29]
[39, 44]
[76, 10]
[75, 55]
[130, 32]
[1, 47]
[-101, 20]
[-61, -37]
[-58, -31]
[5, 44]
[82, 26]
[0, 48]
nan
[76, 21]
[78, 24]
[1, 47]
[5, 43]
[16, 58]
[126, 46]
[16, 47]
[115, 33]
[-1, 51]
[51, 52]
[0, 47]
[0, 48]
[-99, 35]
[28, -25]
[-6, 52]
[-87, 34]
[32, 52]
[3, 48]
[4, 50]
[26, -26]
[15, 56]
[-8, 52]
[12, 52]
[118, 31]
[14, 50]
[-92, 37]
[26, 56]
[71, 29]
[72, 26]
[-77, 38]
[0, 38]
[-95, 36]
[-85, 38]
[19, 52]
[75, 24]
[0, 47]
[-84, 32]
[103, 24]
[13, 56]
[27, 61]
[5, 46]
[29, -7]
[97, 19]
[-36, -5]
[35, -15]
[31, -28]
[86, 25]
[111, -7]
[-3, 40]
[-49, -26]
[27, 37]
[31, -19]
[95, 27]
[9, 12]
[-104, 32]
[31, 9]
[33, -3]
[-63, -28]
[26, -29]
[62, 45]
[86, 23]
[76, 20]
[31, -17]
[44, 45]
[72, 34]
nan
[-99, 42]
[11, 54]
[29, 4]
[-49, -22]
[-91, 41]
[30, 61]
[0, 44]
[48, -14]
[-84, 35]
[1, 45]
[0, 0]
[12, 48]
[13, 48]
[57, -20]
[12, 8]
[-101, 24]
[30, -1]
[34, 1]
[-67, -27]
[77, 29]
[106, -6]
[13, 53]
[7, 46]
[12, 55]
[37, 0]
[81, 25]
[15, 38]
[11, 50]
[3, 45]
[25, 46]
[83, 25]
[111, 34]
[-1, 54]
[-90, 42]
[30, 48]
[133, 35]
[17, 46]
[16, 46]
[120, -26]
[-92, 35]
[136, 35]
[14, 37]
[120, 32]
[16, 47]
[83, 25]
[23, 56]
[5, 61]
[24, 46]
[-101, 38]
[174, -39]
[-1, 38]
[26, -31]
[-102, 31]
[-80, 35]
[-8, 38]
[13, 43]
[1, 43]
[1, 47]
[27, -15]
[-79, 35]
[-8, 52]
[145, -40]
[78, 28]
[18, 49]
[5, 44]
[10, 59]
[77, 26]
[8, 45]
[141, -29]
[4, 18]
[6, 44]
[33, -11]
[77, 12]
[80, 9]
[90, 24]
[145, -36]
[-88, 36]
[85, 26]
[72, 23]
[1, 12]
[140, 38]
[78, 26]
[19, 49]
[30, 31]
[100, 13]
[79, 12]
[103, 35]
[-77, 38]
[121, 32]
[77, 19]
[51, 33]
[150, -34]
[12, 42]
[165, -21]
nan
[83, 21]
[136, 36]
[83, 18]
[35, 9]
[21, 56]
[10, 47]
[-81, 40]
[35, 15]
[-90, 29]
[111, -7]
[-4, 13]
[-1, 49]
nan
nan
[78, 52]
[37, 56]
[121, 29]
[105, 32]
[131, 34]
[30, -28]
[-69, 44]
[-86, 40]
[130, 33]
[-59, -32]
[-92, 36]
[-99, 39]
[11, 45]
[46, 54]
[31, 58]
[22, 56]
[102, 42]
[-102, 24]
[0, 41]
[141, 43]
[94, 21]
[22, 47]
[55, 57]
[8, 52]
[23, 58]
[22, 47]
[130, 33]
[23, 46]
[8, 6]
[-5, 38]
[139, 36]
[135, 35]
[25, 50]
[8, 52]
[0, 39]
[-7, 38]
[-2, 39]
[161, 64]
[1, 43]
[-81, 28]
[6, 47]
[8, 48]
[12, 42]
[9, 58]
[140, 38]
[-95, 38]
[0, 12]
[-6, 30]
[-13, 24]
[-8, 37]
[16, -18]
[-5, 43]
[28, 51]
[-99, 21]
[25, 55]
[120, 17]
[-89, 32]
[-65, -23]
[118, 43]
[-91, 39]
[-157, 21]
nan
[120, 15]
[124, 8]
[-90, 36]
[-40, -6]
[-51, -19]
[-87, 41]
[78, 9]
[85, 26]
[-103, 36]
[82, 20]
[-48, -19]
[14, 38]
[91, 23]
[25, 43]
[77, 52]
[35, 48]
[43, 52]
[-3, 11]
[-117, 56]
[9, 51]
[-73, 41]
[-103, 30]
[35, -10]
[91, 23]
[-3, 56]
[39, 56]
[66, 55]
[0, 14]
[-86, 35]
[-7, 53]
[-99, 40]
[108, 11]
[105, 12]
[108, 15]
[11, 44]
[-6, 41]
[25, 58]
[73, 26]
[18, -32]
[88, 25]
[76, 29]
[-83, 31]
[-96, 30]
[26, 45]
[14, 50]
[104, 11]
nan
[12, 50]
[82, 26]
[14, 66]
[-4, 53]
[-103, 34]
[-8, 38]
[118, 31]
[13, 48]
[14, 49]
[-83, 39]
[-3, 39]
[75, 23]
[21, 52]
[78, 13]
[-53, -29]
[121, 32]
[106, 26]
[28, -30]
[95, 17]
[0, 39]
[126, 44]
[0, 46]
[-65, -26]
[76, 27]
[70, 28]
[37, 52]
[82, 26]
[87, 24]
[6, 51]
[87, 23]
[-100, 19]
[72, 25]
[115, 38]
[50, 26]
[26, 43]
[17, 52]
[-119, 38]
[-5, 42]
[111, -6]
[11, 44]
[-65, -32]
[116, 38]
[45, 48]
[-118, 51]
[76, 28]
[-83, 35]
[-66, -44]
[-102, 46]
[-99, 31]
[-77, 37]
[-49, -26]
[9, 45]
[-86, 41]
[150, -23]
[0, 42]
[10, 50]
[-83, 44]
[-2, 52]
[29, -1]
[36, 0]
[38, -10]
[34, 51]
[82, 27]
[91, 23]
[14, 51]
[1, 43]
[0, 45]
[136, 35]
[-122, 44]
[4, 46]
[11, 52]
[74, 25]
[-117, 33]
[13, 43]
[-71, -31]
[-100, 19]
[-51, -29]
[-99, 24]
[-61, -33]
[-68, -31]
[-49, -20]
[46, 52]
[137, 34]
[0, 43]
[29, 47]
[139, 35]
[17, 49]
[15, 53]
[-73, 42]
[10, 48]
[-69, 44]
[27, 38]
[84, 26]
[107, -7]
[4, 22]
[79, 22]
[0, 41]
[140, 39]
[79, 21]
[23, 41]
[-36, -8]
[-44, -19]
[-6, 37]
[36, 50]
[10, 34]
[87, 23]
[-76, 37]
[-80, 44]
[84, 24]
[120, 33]
[87, 25]
[125, 43]
[74, 33]
[90, 24]
[11, 43]
[134, 46]
[-101, 20]
[27, 44]
[7, 49]
[32, 30]
[69, 26]
[9, 39]
[-103, 42]
[82, 20]
[36, 39]
[119, 32]
[10, 59]
[15, 45]
[35, 55]
[84, 27]
[21, 43]
[1, 47]
[22, 54]
[135, 35]
[125, 45]
[23, 44]
[33, 1]
[0, 44]
[-1, 46]
[3, 51]
[-1, 48]
[-90, 38]
[27, -32]
[-76, 38]
[3, 48]
[27, 61]
[2, 43]
[14, 59]
[15, 49]
[41, 45]
[3, 50]
[55, 53]
[9, 52]
[-73, 41]
[-3, 56]
[-3, 50]
[-72, 45]
[-90, 36]
[16, 50]
[113, 31]
[78, 12]
[84, 25]
[133, 44]
[84, 26]
[-120, 38]
[-86, 33]
[14, 49]
[5, 36]
[-134, 59]
[137, 34]
[134, 35]
nan
[112, -7]
[-7, 31]
[136, 35]
[122, 45]
[10, 32]
[43, 19]
[44, 35]
[23, 46]
[142, -25]
[26, 58]
[70, 33]
[37, -1]
[27, -29]
[118, 32]
[17, 49]
[-89, 38]
[1, 14]
[35, 54]
[79, 13]
[-7, 29]
[111, -7]
[106, -6]
[34, 47]

In [100]:
for i in data['point coordinates']:
    if type(i)!=list:
       print(type(i))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [75]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Name of Earth Meteorite                1000 non-null   string
 1   ID of Earth Meteorite                  1000 non-null   int64
 2   nametype                               1000 non-null   string
 3   recclass                               1000 non-null   string
 4   Mass of Earth Meteorite                972 non-null    float64
 5   Year at which Earth Meteorite was hit  0 non-null      datetime64[ns]
 6   reclat                                 988 non-null    float64
 7   reclong                                988 non-null    float64
 8   point coordinates                      988 non-null    object
dtypes: datetime64[ns](1), float64(3), int64(1), object(1), string(3)
memory usage: 70.4+ KB

In [101]:
data.isnull().sum()

Name of Earth Meteorite                     0
ID of Earth Meteorite                       0
nametype                                    0
recclass                                    0
Mass of Earth Meteorite                    28
Year at which Earth Meteorite was hit    1000
reclat                                     12
reclong                                    12
point coordinates                          12
dtype: int64

In [95]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Name of Earth Meteorite                1000 non-null   string
 1   ID of Earth Meteorite                  1000 non-null   int64
 2   nametype                               1000 non-null   string
 3   recclass                               1000 non-null   string
 4   Mass of Earth Meteorite                972 non-null    float64
 5   Year at which Earth Meteorite was hit  0 non-null      datetime64[ns]
 6   reclat                                 988 non-null    float64
 7   reclong                                988 non-null    float64
 8   point coordinates                      988 non-null    object
dtypes: datetime64[ns](1), float64(3), int64(1), object(1), string(3)
memory usage: 70.4+ KB

convert to csv

In [102]:
data.to_csv('data_prac.csv', index=False)

#################################################################################################3

In [109]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     |████████████████████████████████| 249 kB 18.6 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2